body {
    margin: 2.2em auto;
    width: 80%;
    line-height: 1.6;
    font-size: 1.1em;
    color: #444;
    padding: 0 1.1em

} 
h1,h2,h3{
  text-align: center;
  line-height:1.2
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
